img {
  opacity: 0.5;
}

hr{
    margin-top: 20px;
    margin-bottom:20px;
    color:white;
}

h1{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}


@media (max-width: 1920px) {
/*text inside the name box*/



input[type=text] {
text-align:left;
width:90.5%;
margin-left: 50px;
margin-right: 50px;
padding-left: 5px;
}

/*text inside the email box*/

input[type=email] {
text-align:left;
width:80%;
margin-left: 50px;
margin-right: 50px;
padding-left: 5px;
}

input[type=submit] {
align-items:center;
width:80%;
margin-right: 50px;
font-family: 'Montserrat', sans-serif;
}

.container{
    text-align: left;
}

/*title of box*/
label{
    margin-left:30px;
    margin-top:25px;
    margin-bottom:20px;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

 #fname{
      margin-left:30px;
      width:90.5%;
 }

#email{
     margin-left:30px;
     width:90.5%;
}

textarea{
text-align:left;
width:90.5%;
margin-left: 30px;
margin-right: 50px;
height:200px;
padding-left: 5px;
}

/*submit button*/
.col-1{
    width:200px;
    height: 20px;
    align-content: center;
    margin-top: 20px;
    margin-left:30px;
}
}

hr{
    margin-top:5px;
    margin-bottom:5px;
}

/*when screen is small*/
@media (max-width: 360px){
    label{
    margin-left:40px;
    margin-top:25px;
    margin-bottom:20px;
    font-size: 15px;
    }

    #fname{
        width:268.8px;
    }
    #email{
         width:268.8px;
    }
    textarea{
        width:268.8px;
    }

    .col-6{
        overflow-x: hidden;
    }
}
