.row{
display:flex;
flex-direction: row;
flex-wrap:wrap;
object-fit: cover;
padding-left: 0;
padding-right: 0;
height:fit-content;
width:fit-content;



}
.col-6 {
display: grid;
padding-left: 0;
padding-right: 0;
}

.col-md-3{
  display: grid;
padding-left: 0;
padding-right: 0;
}


body{
 height: auto; 
width:auto; 

}




